In [1]:
f=open('data2.csv','r')
data = f.read()
print data

name ,age ,sal,cell
name1,23,4564646,9678956234
name2,24,564654,8965324789
name3,25,456416,8956234578

In [2]:
import re

In [3]:
re.findall('[0-9]{10}',data)

['9678956234', '8965324789', '8956234578']

In [5]:
re.match("name",data)

In [7]:
re.search("name2",data).group(0)

'name2'

In [8]:
re.findall("name",data)

['name', 'name', 'name', 'name']

In [9]:
re.findall('[abc]',data)

['a', 'a', 'a', 'c', 'a', 'a', 'a']

In [10]:
re.findall('[a-z]',data)

['n',
 'a',
 'm',
 'e',
 'a',
 'g',
 'e',
 's',
 'a',
 'l',
 'c',
 'e',
 'l',
 'l',
 'n',
 'a',
 'm',
 'e',
 'n',
 'a',
 'm',
 'e',
 'n',
 'a',
 'm',
 'e']

In [11]:
re.findall('[a-z0-9]',data)

['n',
 'a',
 'm',
 'e',
 'a',
 'g',
 'e',
 's',
 'a',
 'l',
 'c',
 'e',
 'l',
 'l',
 'n',
 'a',
 'm',
 'e',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '4',
 '6',
 '4',
 '6',
 '9',
 '6',
 '7',
 '8',
 '9',
 '5',
 '6',
 '2',
 '3',
 '4',
 'n',
 'a',
 'm',
 'e',
 '2',
 '2',
 '4',
 '5',
 '6',
 '4',
 '6',
 '5',
 '4',
 '8',
 '9',
 '6',
 '5',
 '3',
 '2',
 '4',
 '7',
 '8',
 '9',
 'n',
 'a',
 'm',
 'e',
 '3',
 '2',
 '5',
 '4',
 '5',
 '6',
 '4',
 '1',
 '6',
 '8',
 '9',
 '5',
 '6',
 '2',
 '3',
 '4',
 '5',
 '7',
 '8']

In [12]:
re.findall('[^0-9]',data)

['n',
 'a',
 'm',
 'e',
 ' ',
 ',',
 'a',
 'g',
 'e',
 ' ',
 ',',
 's',
 'a',
 'l',
 ',',
 'c',
 'e',
 'l',
 'l',
 '\n',
 'n',
 'a',
 'm',
 'e',
 ',',
 ',',
 ',',
 '\n',
 'n',
 'a',
 'm',
 'e',
 ',',
 ',',
 ',',
 '\n',
 'n',
 'a',
 'm',
 'e',
 ',',
 ',',
 ',',
 '\n']

In [13]:
re.findall('.',data)

['n',
 'a',
 'm',
 'e',
 ' ',
 ',',
 'a',
 'g',
 'e',
 ' ',
 ',',
 's',
 'a',
 'l',
 ',',
 'c',
 'e',
 'l',
 'l',
 'n',
 'a',
 'm',
 'e',
 '1',
 ',',
 '2',
 '3',
 ',',
 '4',
 '5',
 '6',
 '4',
 '6',
 '4',
 '6',
 ',',
 '9',
 '6',
 '7',
 '8',
 '9',
 '5',
 '6',
 '2',
 '3',
 '4',
 'n',
 'a',
 'm',
 'e',
 '2',
 ',',
 '2',
 '4',
 ',',
 '5',
 '6',
 '4',
 '6',
 '5',
 '4',
 ',',
 '8',
 '9',
 '6',
 '5',
 '3',
 '2',
 '4',
 '7',
 '8',
 '9',
 'n',
 'a',
 'm',
 'e',
 '3',
 ',',
 '2',
 '5',
 ',',
 '4',
 '5',
 '6',
 '4',
 '1',
 '6',
 ',',
 '8',
 '9',
 '5',
 '6',
 '2',
 '3',
 '4',
 '5',
 '7',
 '8']

In [14]:
re.findall('.',data,re.DOTALL)

['n',
 'a',
 'm',
 'e',
 ' ',
 ',',
 'a',
 'g',
 'e',
 ' ',
 ',',
 's',
 'a',
 'l',
 ',',
 'c',
 'e',
 'l',
 'l',
 '\n',
 'n',
 'a',
 'm',
 'e',
 '1',
 ',',
 '2',
 '3',
 ',',
 '4',
 '5',
 '6',
 '4',
 '6',
 '4',
 '6',
 ',',
 '9',
 '6',
 '7',
 '8',
 '9',
 '5',
 '6',
 '2',
 '3',
 '4',
 '\n',
 'n',
 'a',
 'm',
 'e',
 '2',
 ',',
 '2',
 '4',
 ',',
 '5',
 '6',
 '4',
 '6',
 '5',
 '4',
 ',',
 '8',
 '9',
 '6',
 '5',
 '3',
 '2',
 '4',
 '7',
 '8',
 '9',
 '\n',
 'n',
 'a',
 'm',
 'e',
 '3',
 ',',
 '2',
 '5',
 ',',
 '4',
 '5',
 '6',
 '4',
 '1',
 '6',
 ',',
 '8',
 '9',
 '5',
 '6',
 '2',
 '3',
 '4',
 '5',
 '7',
 '8',
 '\n']

In [15]:
f=open('data2.csv','r')
data = f.read()
print data

name ,age ,sal,cell
NAME1,23,4564646,9678956234
name2,24,564654,8965324789
name3,25,456416,8956234578

In [16]:
re.findall('name',data)

['name', 'name', 'name']

In [17]:
re.findall('name',data,re.IGNORECASE)

['name', 'NAME', 'name', 'name']

In [18]:
f=open('data2.csv','r')
data = f.read()
print data

name ,age ,sal,cell,
NAME1,23,4564646,9678956234,NAME1
name2,24,564654,8965324789,NAME1
name3,25,456416,8956234578,NAME1

In [19]:
re.findall('name',data,re.IGNORECASE)

['name', 'NAME', 'NAME', 'name', 'NAME', 'name', 'NAME']

In [20]:
re.findall('name',data,re.IGNORECASE|re.MULTILINE)

['name', 'NAME', 'NAME', 'name', 'NAME', 'name', 'NAME']

In [21]:
re.findall('n.{2}e',data,re.IGNORECASE)

['name', 'NAME', 'NAME', 'name', 'NAME', 'name', 'NAME']

In [25]:
s="aaaaabbbbccacdddaaeeffggssssaaaaa"

In [26]:
re.findall('a*',s)

['aaaaa',
 '',
 '',
 '',
 '',
 '',
 '',
 'a',
 '',
 '',
 '',
 '',
 'aa',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'aaaaa',
 '']

In [27]:
re.findall('a+',s)

['aaaaa', 'a', 'aa', 'aaaaa']

In [28]:
re.findall('a?',s)

['a',
 'a',
 'a',
 'a',
 'a',
 '',
 '',
 '',
 '',
 '',
 '',
 'a',
 '',
 '',
 '',
 '',
 'a',
 'a',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'a',
 'a',
 'a',
 'a',
 'a',
 '']

In [29]:
re.findall('a{2}',s)

['aa', 'aa', 'aa', 'aa', 'aa']

In [30]:
re.findall('a{3}',s)

['aaa', 'aaa']

In [31]:
re.findall('a{1,3}',s)

['aaa', 'aa', 'a', 'aa', 'aaa', 'aa']

In [32]:
data

'name ,age ,sal,cell,\nNAME1,23,4564646,9678956234,NAME1\nname2,24,564654,8965324789,NAME1\nname3,25,456416,8956234578,NAME1\n'

In [33]:
re.findall('name',data,re.I)

['name', 'NAME', 'NAME', 'name', 'NAME', 'name', 'NAME']

In [35]:
re.findall('^name',data,re.I)

['name']

In [36]:
data

'name ,age ,sal,cell,\nNAME1,23,4564646,9678956234,NAME1\nname2,24,564654,8965324789,NAME1\nname3,25,456416,8956234578,NAME1\n'

In [37]:
re.findall('^name',data,re.I|re.M)

['name', 'NAME', 'name', 'name']

In [38]:
re.findall('name$',data,re.I|re.M)

[]

In [39]:
re.findall('name[0-9]\n$',data,re.I|re.M)

['NAME1\n']

In [40]:
f=open('data2.csv','r')
data = f.read()
print data

name ,age ,sal,cell,
NAME1,23,4564646,9678956234,NAME1
name2,24,564654,8965324789,NAME1
name3,25,456416,8956234578,NAME2

In [41]:
re.findall('name[0-9]\n$',data,re.I|re.M)

['NAME2\n']

In [42]:
re.findall('name[0-9]\n$',data,re.I)

['NAME2\n']

In [43]:
re.findall('name[0-9]\n$',data,re.M|re.I)

['NAME2\n']

In [45]:
reg = re.compile("^name",re.I|re.M)

In [46]:
reg.findall(data)

['name', 'NAME', 'name', 'name']

In [48]:
f=open('data2.csv','r')
data = f.read()
print data

name ,age ,sal,cell,,email
NAME1,23,4564646,9678956234,NAME1,mail1@gamil.com
name2,24,564654,8965324789,NAME1,mail2@yahoo.com
name3,25,456416,8956234578,NAME2,maile3@outlook.com

In [61]:
reg= re.compile(',m.+@.+\.com')

In [62]:
reg.findall(data)

[',mail1@gamil.com', ',mail2@yahoo.com', ',maile3@outlook.com']

In [65]:
re.findall('\w+@\w+\.com',data)

['mail1@gamil.com', 'mail2@yahoo.com', 'maile3@outlook.com']