In [2]:
stack1=[]
stack1.append(1)
stack1.append(10)
stack1.append(100)
stack1.pop()
#Queue

queu1=[]
# add elements at rear side
queu1.append(1)
queu1.append(10)
queu1.append(100)
# add elements at front side
queu1.insert(0,1000)
# remove elements at rear side
queu1.pop()
# remove element at front side
queu1.pop(0)
print queu1

[1, 10]

In [3]:
def fun():
    return [1,2,3,4,5]

In [4]:
b=fun()

In [5]:
for i in b:
    print i

1
2
3
4
5

In [6]:
for i in b:
    print i

1
2
3
4
5

In [7]:
def fun():
    yield [1,2,3,4,5]
b=fun()

In [8]:
print b

<generator object fun at 0x7f47783e3aa0>

In [9]:
for i in b:
    print i

[1, 2, 3, 4, 5]

In [10]:
for i in b:
    print i

In [14]:
# tuple
l=[1,2,3,4]
t=(1,2,3,4)
l[0]=10

In [15]:
l

[10, 2, 3, 4]

In [16]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [18]:
l=[1,2,3,4,2,3,4,2,5,6,7,2]
# findout third occurance of two

In [19]:
e_names = ['n1','n2','n3']
e_ages = [23,24,25]
e_salaries=[120000,130000,140000]

In [20]:
d={'name':'n1','age':23,'sal':120000}
list_persons = [{'name':'n1','age':23,'sal':120000},
               {'name':'n2','age':24,'sal':130000},
                {'name':'n3','age':25,'sal':140000}
               ]

In [21]:
d={'name':'n1','age':23,'sal':120000}

In [22]:
d['age']

23

In [23]:
d[0]

KeyError: 0

In [24]:
d['id']

KeyError: 'id'

In [25]:
d.get('age')

23

In [26]:
d.get('id')

In [27]:
val_id = d.get('id','default value')

In [28]:
val_id

'default value'

In [29]:
d

{'age': 23, 'name': 'n1', 'sal': 120000}

In [30]:
d={'name':'n1','age':23,'sal':120000}

In [31]:
print d

{'age': 23, 'name': 'n1', 'sal': 120000}

In [32]:
for i in d:
    print i

age
name
sal

In [33]:
l=['name','age','sal']
for i in l:
    print d[i]

n1
23
120000

In [34]:
for i in d.items():
    print i

('age', 23)
('name', 'n1')
('sal', 120000)

In [35]:
d.items()

[('age', 23), ('name', 'n1'), ('sal', 120000)]

In [36]:
for i in d.items():
    print "key=",i[0]," value=",i[1]

key= age  value= 23
key= name  value= n1
key= sal  value= 120000

In [37]:
print d.keys()

['age', 'name', 'sal']

In [38]:
print d.values()

[23, 'n1', 120000]

In [39]:
d

{'age': 23, 'name': 'n1', 'sal': 120000}

In [40]:
d['age']=25

In [41]:
d

{'age': 25, 'name': 'n1', 'sal': 120000}

In [42]:
d['age1']=56

In [43]:
d

{'age': 25, 'age1': 56, 'name': 'n1', 'sal': 120000}

In [44]:
d['k1']='v1'

In [45]:
d

{'age': 25, 'age1': 56, 'k1': 'v1', 'name': 'n1', 'sal': 120000}

In [46]:
d.update({'k2':'v2','k3':'v3'})

In [47]:
d

{'age': 25,
 'age1': 56,
 'k1': 'v1',
 'k2': 'v2',
 'k3': 'v3',
 'name': 'n1',
 'sal': 120000}

In [48]:
del d['k2']

In [49]:
d

{'age': 25, 'age1': 56, 'k1': 'v1', 'k3': 'v3', 'name': 'n1', 'sal': 120000}

In [50]:
for i in ['k1','k3']:
    del d[i]

In [51]:
d

{'age': 25, 'age1': 56, 'name': 'n1', 'sal': 120000}

In [52]:
d1=d

In [53]:
d1.update({'extra':'extra_val'})

In [54]:
d1

{'age': 25, 'age1': 56, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [55]:
d

{'age': 25, 'age1': 56, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [56]:
l=[1,2,3,4]

In [57]:
l1=l

In [58]:
l.append(10)

In [59]:
l1

[1, 2, 3, 4, 10]

In [60]:
l2=l[:]

In [61]:
l1

[1, 2, 3, 4, 10]

In [62]:
l2

[1, 2, 3, 4, 10]

In [64]:
l2.append(20)

In [65]:
l2

[1, 2, 3, 4, 10, 20]

In [66]:
l

[1, 2, 3, 4, 10]

In [67]:
d

{'age': 25, 'age1': 56, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [68]:
d1

{'age': 25, 'age1': 56, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [69]:
d2=d.copy()

In [70]:
d2

{'age': 25, 'age1': 56, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [71]:
del d['age1']

In [72]:
d

{'age': 25, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [73]:
d2

{'age': 25, 'age1': 56, 'extra': 'extra_val', 'name': 'n1', 'sal': 120000}

In [74]:
d3=d
d4=d.copy()

In [75]:
d5={1:"one",1:"ten"}

In [76]:
a=10
b=20
a=30
print a

30

In [77]:
d5

{1: 'ten'}

In [81]:
# what are the datatypes can be used as a keys?
#['A','B','C','a','b','c']
#['A','a','B','b']
#keys=[1,2,3,4,5],values=[10,20,30,40,50] make a dictionary
# get a keys and values fro the user form a dictionary
l=[1,2,3,[3,4,5],5,6,7,8,[10,20,30]]

In [83]:
l[-1][1]

20

In [84]:
l1=[]
for i in l:
    if isinstance(i,list):
        for j in i:
            l1.append(j)
    else:
        l1.append(i)
# optimize the above program by removing inner for loop

In [85]:
l1

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 10, 20, 30]